.header {
  display: flex;
  align-items: center;
  height: auto;
  margin: 20px auto;
}

.logo {
  text-align: center;
  display: block; /* Asigură că imaginea ocupă întreaga lățime a containerului */
  margin: 0 auto;
}
