.form-submitted-container {
  width: 300px;
  height: 80px;
  border: 2px solid rgb(231, 171, 87);
  background-color: rgb(226, 209, 113);
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 20px;
  border-radius: 15px;
}
